<html lang="en">
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-content">
      {{>header}}
      <img src="/img/1.jpg" class="portrait" alt="Creater pic">
      <p>{{aboutText}}</p>
    </div>
    
    {{>footer}}
  </body>
</html>