<div class="list">
  <label class="home">
    <a href="/" class="link"><i class="bx bxs-home"></i><span
        class="topic"
      >Home</span></a>
  </label>
  <label class="help">
    <a href="/help" class="link"><i class="bx bxs-help-circle"></i><span
        class="topic"
      >Help</span></a>
  </label>
  <label class="about">
    <a href="/about" class="link"><i class="bx bxs-user"></i><span
        class="topic"
      >About</span></a>
  </label>
</div>